# Ignore Go build files
/bin/
/pkg/
*.exe
*.out

# Ignore environment files
.env

# Ignore dependencies (Go modules will handle them)
vendor/

# Ignore database-related files
*.db
*.sql

#ignore front-end folder dependencies
front-end/node_modules/
front-end/dist/
front-end/build/

# Ignore system files
.DS_Store
Thumbs.db
